.DS_Store

# Logs
logs/
*.log

# Cache
.eslintcache/
.idea/
.npm/
.next/
.vscode/
.yarnclean

# Directories
build/
coverage/
dist/
public/
node_modules/
tmp/

# Custom
*.min.js
*.map

# Configs
.babelrc
.dockerignore
.eslintignore
.eslintrc.js
.flowconfig
.gitattributes
.gitignore
.npmrc
.prettierignore
.yarnc
babel.config.js
dangerfile.ts
jest.config.js
prettier.config.js
tsconfig.eslint.json
tsconfig.json
tsconfig.options.json
*.tsbuildinfo
webpack.config.js
