.next/
coverage/
node_modules/
public/
esm/
lib/
tmp/
dist/
out/
*.d.ts
lerna.json
npm-shrinkwrap.json
package.json
package-lock.json
tsconfig.json
tsconfig.eslint.json
tsconfig.options.json
CHANGELOG.md
/.nx/workspace-data