*.cache
*.d.ts
*.log

.DS_Store
.eslintcache
.next

build/
coverage/
dist/
esm/
lib/
node_modules/
public/
scripts/
tmp/

CHANGELOG.md
lerna.json
npm-shrinkwrap.json
package.json
package-lock.json
tsconfig.json
tsconfig.options.json
yarn.lock